.container {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 100vh;
    width: 100vw;
  
    background-image: url("../../img/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }