:root{
  --text-input-field: #F7F7F7;
  --ligth-green: #ACD9B2;
  --ligth-green-two: #B6ECC5;
  --green: #92E3A9;
  --yellow: #fafa9c;
  --alert: #ffffff;
  --error: #FF3300;
}

.container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-image: url("../../img/BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}


.form{
  display: grid;
  place-items: flex-start; 
  background-color: #3ea53e75;
  border-radius: 15px;
  width: 400px;
  padding: 40px;
  backdrop-filter: blur(10px);

  box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);
-webkit-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);
-moz-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);

 


}

.form label {
  font-weight: bold;
  margin-bottom: 4px;
  margin-right: 6px;
  
}

.inputName input {
  border: none;
  border-radius: 8px;
  height: 30px;
  width: 320px;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: var(--text-input-field);
}

.inputCountry select {
  border: none;
  border-radius: 8px;
  height: 37px;
  width: 310px;
  padding: 6px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: var(--text-input-field);
}

.inputCountry{
  display: flex;
  width: 400px;
}

.selectedContainer{
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.inputDuration input{
  font-size: 20px ;
  border: none;
  border-radius: 8px;
  height: 25px;
  width: 40px;
  padding: 6px;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: var(--text-input-field);
}

.inputLevel input , .inputSeason input{
  width: 18px;
  height: 20px;
  margin: 15px;
}

.inputLevel label , .inputSeason label{
  font-size: 16px;
}

.secondLineSeason{
  margin-left: 35px;
}

.confirmForm{
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 110, 230, 0.644);
  border-radius: 15px;
  padding: 25px;
  margin-left: 50px;
  align-items: flex-start;
  width: 350px;

  box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);
-webkit-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);
-moz-box-shadow: 3px 5px 5px 1px rgba(0,0,0,0.07);
}

.confirmForm span{
  margin-left: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}

.errorText{
  margin: 0;
  margin-left: 30px;
  margin-bottom: 10px;
  color: rgb(205, 13, 13);
}

.errorSelectText{
  margin: 3px;
  margin-left: 60px;
  color: rgb(211, 233, 17);
  justify-content: flex-start;
}

.confirmButton{
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  
  place-self: center;
  padding: 10px;
  width: 200px;
  margin-top: 20px;

  background-color: var(--alert);
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  border-radius: 50px;
}

.confirmButton:active {
  background-color: rgb(0, 207, 0);
  }

.submitButton{
  
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  
  place-self: center;
  height: 50px;
  width: 200px;
  margin-top: 20px;

  background-color: var(--yellow);
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  border: none;
  border-radius: 50px;

}

.returnButton{
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  
  place-self: center;
  height: 30px;
  width: 150px;
  margin-top: 20px;

  background-color: var(--text-input-field);
  box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -webkit-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  -moz-box-shadow: -3px 1px 7px -3px rgba(43,43,43,0.42);
  border: none;
  border-radius: 30px;
}

.returnButton:active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  }


/* .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    min-height: 100vh;
    padding: 30px 0;
    min-width: 100vw;
  
    background-image: url("../../img/BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .cardinfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    width: 100%;
    height: auto;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    width: 50%;
    height: auto;
  
    padding: 30px;
    background-color: #97e8ff82;
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border: 5px ridge rgba(50, 50, 220, 0.6);
  }
  
  .col {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  
    margin: 11px 10px;
  }
  
  .tempContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    flex-wrap: wrap;
  
    max-width: 80%;
    margin: auto;
    padding-bottom: 20px;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .tempContainer > div {
    width: auto;
    padding: 3px 5px;
    margin: 10px;
    height: 20px;
  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  
    color: rgba(50, 50, 220, 0.778);
    cursor: pointer;
    border: solid 2px orange;
    background-color: rgb(213, 250, 213);
    border-radius: 20px;
  }
  
  .tempContainer > div:hover {
    color: red;
    background-color: rgb(250, 213, 213);
  }
  
  .error {
    font-weight: bold;
    color: red;
  }
  
  .col > label {
    font-weight: bold;
    color: rgb(85, 85, 206);
  }
  
  .form > h1 {
    font-weight: bold;
    text-shadow: 2px 1px 3px black;
    color: rgb(58, 58, 210);
  }
  
  .gohome {
    position: absolute;
    top: 20px;
    left: 50px;
  
    font-size: 25px;
    height: auto;
  
    border-radius: 3px;
    padding: 0 10px;
    background-color: #99a6d3;
    color: rgb(58, 58, 210);
    border: none;
  
    box-shadow: 2px 2px 7px black;
  }
  
  .gohome:hover {
    background-color: rgb(142, 228, 236);
  }
  
  .dogBox {
    position: absolute;
    left: -300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  
    width: 250px;
    height: 500px;
    margin: 20px;
  
    border: 5px ridge rgba(50, 50, 220, 0.6);
  
    background-color: #97e8ff82;
    backdrop-filter: blur(10px);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  
  .dogBox > img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
  
  .dogBox > h3 {
    width: 100%;
    height: 20px;
  
    overflow: hidden;
  }
  
  .weight {
    width: 90%;
    height: auto;
  
    overflow: hidden;
    font-family: "Bakbak One", cursive;
    font-size: 17px;
    color: rgb(57, 57, 57);
  }
  
  .temperaments {
    width: 90%;
    height: 70px;
    font-family: "Bakbak One", cursive;
    overflow: hidden;
  }
  
  .preview {
    position: absolute;
    color: rgb(80, 80, 196);
  
    text-shadow: 2px 2px 5px black;
    left: -200px;
    top: 0;
  }
  
  .buttonSubmit {
    font-size: 25px;
    height: auto;
  
    border-radius: 3px;
    padding: 0 10px;
    background-color: #99a6d3;
    color: rgb(58, 58, 210);
    border: none;
  
    box-shadow: 2px 2px 7px black;
  }
  
  .animation {
    animation: send 2s ease-in-out forwards;
  }
  
  @keyframes send {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-1000px);
    }
} */